


.real-estate-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;

}

.real-estate-card {
  @apply w-[250px];
  display: flex;

  &:hover {
    cursor: pointer;
    background-color: rgb(83, 83, 83);
  }
}

.real-estate-card__header {
  display: flex;
  justify-content: center;
}

.real-estate-card__footer {
  display: flex;
  flex-direction: column;

  .progress-bar {
    @apply w-max;
  }
}


.real-estate-card__body {
  display: flex;
  flex-direction: column;

  .card_title {
    font-size: 1.2rem;
    text-align: center;
  }

  p {
    font-weight: 200;
    font-size: 0.8rem;
    text-align: center;
  }
}