

.marketplace-layout-container {
  display: flex;
  min-height: 100vh;


  .sidebar-container {
    position: sticky;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    min-height: 100vh;

    .sidebar-item-container {
      display: flex;
      gap: 1rem;
      padding: 1rem;

      .sidebar-text {
        font-family: 'Sora', sans-serif;
        color: #e1e1e3;
      }
    }
  }

  .layout-main-content {
    width: 75%;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    .subpage-container{
      display: flex;
      flex-direction: column;
      align-content: center;
    }
  }
}

